---
layout: base
page: projects
---
div
    each project in getCollection('projects').toJSON()
        div(class="project")
            h2 #{project.name}
            div(class='big-image')
                div(style='background-image: url(projects/#{project.slug}.png)')
            div(class='row container')
                div(class='half')
                    !{formatDate(project.date, 'MMMM YYYY')}
                div(class='half rightalign')
                    !{project.format}
            !{project.contentRendered}
