---
layout: base
page: projects
title: Data Visualization Portfolio
description: A collection of code, articles, and data visualizations in R, Python, HTML Canvas, and d3.js
---
each project in getCollection('projects').toJSON()
  div(class='project')
    h2
      a(href=project.link)
        | #{project.name}
    a(href=project.link)
      img(src='projects/images/#{project.slug}.png')
    div(class='description')!= project.contentRendered
