---
layout: base
page: projects
---
div
    each project in getCollection('projects').toJSON()
        div(class="project")
            h2
                a(href=project.link)
                    | #{project.name}
            div(class='big-image')
                a(href=project.link,style='background-image: url(projects/images/#{project.slug}-bg.png)')
            div(class='row container')
                div(class='half')
                    | #{formatDate(project.date, 'MMMM YYYY')}
                div(class='half rightalign')
                    | #{project.format}
            !{project.contentRendered}
