doctype 5
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title
        | #{site.name}
        if document.title
            | &ndash; #{document.title}
    meta(name='viewport', content='width=device-width')
    link(
      href='/styles/screen.css',
      rel='stylesheet',
      type='text/css')
    link(
      href='/styles/app.css',
      rel='stylesheet',
      type='text/css')

  body
    div(class='header')
      div(class='head-inner')
        a(href='/')
          img(src='/logo/logo-size2.svg', style='width: 127px;')
        ul(class='nav')
          each navlink in site.nav
            li
              if navlink[0] == document.page
                a(href=navlink[1], class='active') #{navlink[0]}
              else
                a(href=navlink[1]) #{navlink[0]}
            
    !{content}

