doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title
        | #{site.name}
        if document.title
            |  &ndash; #{document.title}
    meta(name='viewport', content='width=device-width')
    if (document.description)
      meta(name='description', content=document.description)
    link(
      href='/styles/screen.css',
      rel='stylesheet',
      type='text/css')
    link(
      href='/styles/app.css',
      rel='stylesheet',
      type='text/css')

  body
    div(class='header')
      div(class='head-inner')
        a(href='/')
          img(src='/logo/logo-size1.svg')
        ul(class='nav')
          each navlink in site.nav
            li
              if navlink[0] == document.page
                a(href=navlink[1], class='active') #{navlink[0]}
              else
                a(href=navlink[1]) #{navlink[0]}
            
    !{content}

    script.
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22205936-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

